body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
        font-weight: bold;
        margin: 0;
        padding: 0;
        background-image: url("https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg");
        background-size: cover;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 5px solid #ffffff ;
    }

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 96.5%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #3a3a3a;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .error {
        color: red;
        margin-top: 5px;
    }

    #message {
        margin-top: 20px;
        text-align: center;
    }
